body {
	background-color: #b5c2b5;
}

#start {
	font: 20px sans-serif;
	text-align: center;
}

#start button {
	width: 200px;
	height: 80px;
	font: 20px sans-serif;
	margin-top: 10px;
}

#start h1 {
	font: 100px sans-serif;
	margin: 0; 
}

#container {
	margin: 0 auto;
	width: 1000px;
	display: none;
}

#scoreText {
	font: 25px sans-serif;
	text-align: right;
	padding-top: 10px;
}

#matrix1
{
	width: 800px;
	height: 800px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	float: left;	
}

#matrix1 .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;	
}


#matrix1 .on {
	background: url(img/cell.jpg);
}

#matrix1 .fruit {
	background: url(img/cell.jpg);
}